<!DOCTYPE html>

{{!-- invisible frame where the web request answers are send to to don't reload the page after  --}}
<iframe width="0" height="0" style="display: none" border="0" name="dummyframe" id="dummyframe"></iframe>

<script>
    // Creating filellist for filtering
    filelist = [
        {{# each fileList}}
            "{{this}}",
        {{/each}}
    ]

    var fullbackup = ""
    var user = "{{ user }}"

    // filtering method to filter sound list by name
    function filter(cond) {
        if (!container)
            return

        if (cond.length == 0) {
            container.innerHTML = fullbackup
            psoundnumber.innerText = filelist.length
            return
        }

        var filteredlist = filelist.filter(e => e.includes(cond.toLowerCase()))

        container.innerHTML = ""

        filteredlist.forEach(e => {
            container.innerHTML += 
            '<div>' +
                `<a onclick="onClickPlaySound('${e}', '${user}')" href="javascript:{}" >` +
                    `<div class="tile" id="sound_${e}">` +
                        e +
                    '</div> ' +
                '</a>' +
            '</div>'
        })

        psoundnumber.innerText = `${filteredlist.length} / ${filelist.length}`
    }
</script>

{{!------------------------- PAGE CONTENT -------------------------}}

<noscript>
    <div id="noscriptbanner">
        <p style="margin-top: 6px;" >Please enable JavaScript to use all functions of this Web Interface!</p>
    </div>
</noscript>

{{!-- TOP CONTROL BAR --}}
<div class="flexdiv" style="margin-bottom: 15px;" >

    {{!-- HEADING --}}
    <img src="src/yurilogo.png" height="40" style="
        margin: 20px 15px 0 0px;
    " />
    <h1 style="margin-bottom: 0px;" >YURI WEBINTERFACE</h1>

    <div class="line-break" id="breaker_topline" style="display: none;"></div>

    {{!-- LOGOUT BUTTON --}}
    <form action="wilogout" method="get" style="padding-left: 30px;" id="form_wilogout">
        <input type="hidden" name="user" value="{{ user }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="LOGOUT" class="button btn_logout" />
    </form>

    {{!-- SORT BY BUTTON --}}
    <form action="/" method="get" />
        <input type="hidden" name="user" value="{{ user }}" />
        <input type="hidden" name="sortbydate" value="{{#if sortbydate}}0{{else}}1{{/if}}" />
        <input type="submit" value="SORT BY {{#if sortbydate}}NAME{{else}}DATE{{/if}}" class="button btn_logout" id="btn_sortby"/>
    </form>

    {{!-- STOP SOUND BUTTON --}}
    <button class="button btn_logout button_disabled" style="margin-left: 20px;" id="btn_stop" disabled
       onclick="onClickStopSound()" href="javascript:{}">
        STOP
    </button>
    {{!-- <form action="wistop" method="get" style="padding-left: 20px;" target="dummyframe">
        <input type="hidden" name="user" value="{{ user }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="STOP" id="btn_stop" class="button btn_logout" />
    </form> --}}

    {{!-- ADVANCED BUTTON --}}
    <button id="btn_advanced" class="button btn_logout">▼ ADVANCED</button>

    <div style="
        display: flex;
        margin: 17px 0 0 30px;
        font-size: 15px;
        color: #ffffffa6;
    ">
        <p id="p_soundnumber" >0</p><p>&nbsp;SOUNDS</p>
    </div>

    {{!-- USER AVATARS --}}
    <div id="container_useravatars" style="
        display: flex;
        margin: 25px 0 0 30px;
    ">
    </div>

    {{!-- SEARCH BAR --}}
    <div style="
            right: 100px;
            top: 39px;
            position: absolute;
            display: flex;
        ">
        <input type="text" id="searchbar" class="textbox" style="
            text-align: right;
            margin-right: 10px;
        ">
        <img src="src/search.png" height="20" />
    </div>
    
</div>

<div class="flexdiv" id="advanced_container" style="height: 0px;">
    {{!-- INFO TEXT --}}
    <p style="font-size: 12px; height: 12px; padding: 0px;">
        {{voicechannel.name}} <i>({{voicechannel.id}})</i> @ {{guild.name}} <i>({{guild.id}})</i> 
        | Logged in as {{usertag}} <i>({{user}})</i>
    </p>
    <div class="line-break"></div>

    {{!-- RESTART BOT BUTTON --}}
    <form action="wirestart" method="get" style="position: relative; top: -25px;" target="dummyframe">
        <input type="hidden" name="user" value="{{ user }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="RESTART BOT" class="button btn_logout" id="btn_restart"/>
    </form>

    {{!-- CHANNEL ACTION BUTTON --}}
    <button class="button btn_logout" style="position: relative; top: -25px; margin-left: 20px;" id="btn_channelaction"
       onclick="onClickJoinQuit()" href="javascript:{}">
        {{#if inchannel}}QUIT{{else}}JOIN{{/if}} CHANNEL
    </button>

    {{!-- SHOW LOG BUTTON --}}
    <button id="btn_showlog" class="button btn_logout" style="
        position: relative; 
        top: -25px;
        margin-left: 20px;
    ">SHOW LOG</button>
</div>

{{!-- SOUND BUTTONS CONTAINER --}}
<div class="container" id="indexcontainer">
    {{# each fileList }}
        <div>
            <a onclick="onClickPlaySound('{{this}}', '{{../user}}')" href="javascript:{}" >
                <div class="tile" id="sound_{{ this }}">
                    {{this}}
                </div>  
            </a>
        </div>
    {{/each}}
</div>

<div style="text-align: center">
    <hr style="
        margin-top: 30px; 
        margin-bottom: 30px;
    "/>
    <p>Yuri Web Interface v.{{WEBINTERFACE_VERSION}} | Fork me on <a href="https://github.com/zekroTJA/yuri" target="_blank" style="color: cyan;">GitHub</a>!</p>
    <p>© Ringo Hoffmann 2018 | contact[at]zekro.de | <a href="https://zekro.de" target="_blank" style="color: cyan;">zekro.de</a></p>
</div>

{{!------------------------- AFTERLOAD SCRIPT -------------------------}}

{{!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> --}}
<script src="/socket.io/socket.io.js"></script>

<script>
    var container = document.getElementById('indexcontainer')
    var containeruseravatars = document.getElementById('container_useravatars')
    var searchbar = document.getElementById('searchbar')
    var btadvanced = document.getElementById('btn_advanced')
    var advancedcontainer = document.getElementById('advanced_container')
    var btrestart = document.getElementById('btn_restart')
    var btstop = document.getElementById('btn_stop')
    var dummyframe = document.getElementById('dummyframe')
    var btnshowlog = document.getElementById('btn_showlog')
    var psoundnumber = document.getElementById('p_soundnumber')
    var btnchannelaction = document.getElementById('btn_channelaction')
    var brakertopline = document.getElementById('breaker_topline')
    var formwilogout = document.getElementById('form_wilogout')

    var socket = io()

    socket.on('whoAreYou', () => {
        socket.emit('thatsMe', {user: '{{ user }}' })
    })

    socket.on('channelJoined', channelid => {
        btnchannelaction.innerText = "QUIT CHANNEL"
    })

    socket.on('channelLeft', channelid => {
        btnchannelaction.innerText = "JOIN CHANNEL"
    })

    socket.on('soundPlaying', data => {
        btstop.disabled = false
        btstop.classList.remove('button_disabled')
        document.getElementById(`sound_${data.sound}`)
            .classList.add('button_sound_playing')
    })

    socket.on('soundStopped', data => {
        btstop.disabled = true
        btstop.classList.add('button_disabled')
        document.getElementById(`sound_${data.sound}`)
            .classList.remove('button_sound_playing')
    })

    socket.on('userConnected', data => {
        while (containeruseravatars.hasChildNodes()) 
            containeruseravatars.removeChild(containeruseravatars.lastChild)
        data.forEach(user => {
            let child = document.createElement('img')
            child.src = user.avatarURL
            child.classList = ['useravatar']
            child.id = `img_useravatar_${user.id}`
            child.width = child.height = '32'
            child.title = user.tag
            containeruseravatars.appendChild(child)
        })
    })

    socket.on('userDisconnected', user => {
        containeruseravatars.removeChild(
            document.getElementById(`img_useravatar_${user.id}`))
    })

    socket.on('logout', () => {
        window.location = '/';
    })

    function onClickPlaySound(sound, user) {
        socket.emit('playSound', {sound, user})
    }

    function onClickJoinQuit() {
        socket.emit('changeChannelStatus')
    }

    function onClickStopSound() {
        socket.emit('stopSound')
    }


    fullbackup = container.innerHTML
    psoundnumber.innerText = filelist.length

    function transformToplane() {
        if (window.innerWidth < 1580) {
            if (brakertopline.style.display != "block") {
                brakertopline.style.display = "block"
                formwilogout.style.paddingLeft = "0px"
            }
        }
        else {
            if (brakertopline.style.display != "none") {
                brakertopline.style.display = "none"
                formwilogout.style.paddingLeft = "30px"
            }
        }
    }

    transformToplane()

    searchbar.oninput = function() {
        var val = searchbar.value
        setTimeout(() => {
            if (val == searchbar.value)
                filter(val)
        }, 250)
    }

    btadvanced.onclick = function() {
        if (advancedcontainer.style.height == "0px") {
            advancedcontainer.style.height = "100px"
            btadvanced.innerText = "▲ ADVANCED"
        }
        else {
            advancedcontainer.style.height = "0px"
            btadvanced.innerText = "▼ ADVANCED"
        }
    }

    btrestart.onclick = function() {
        btrestart.style.backgroundColor = "#5727af";
        var counter = 5;
        btrestart.value = `RELOADING IN ${counter}...`
        setInterval(() => {
            btrestart.value = `RELOADING IN ${--counter}...`
        }, 1000)
        setTimeout(() => {
            dummyframe.src = "/login?token={{token}}&user={{user}}"
            window.location = "/"
        }, 5000)
    }

    btnshowlog.onclick = function() {
        window.open('/wishowlog?token={{token}}&guild={{guild.id}}&user={{user}}', 'newwindow', 'width=400,height=600')
    }

    window.onresize = transformToplane

</script>